.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  overflow: hidden;
}

.container:before {
  content: "";
  position: absolute;
  width: 2000px;
  height: 3000px;
  background: linear-gradient(-45deg, rgb(70, 124, 241), #ff4d4d);
  border-radius: 50%;
  top: -130%;
  right: 48%;
  pointer-events: none;
  z-index: 0;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.signin {
  position: absolute;
  top: 35%;
  left: 55%;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 20;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 0 5rem;
  overflow: hidden;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #fff;
  height: 55px;
  margin: 10px 0;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
}

.input-field > i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  font-size: 1.1rem;
}

.input-field > input {
  border: none;
  outline: none;
  background: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field > input::placeholder {
  color: #acacac;
  font-weight: 500;
}

.btn {
  height: 49px;
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  transition: 0.3s;
}

.btn:hover {
  background-color: #fd3838;
}

.panels-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 1;
  pointer-events: none;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.panel .content {
  color: #fff;
  margin-bottom: 50%;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  border: 1px solid #fff;
  margin: 0;
  background: none;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.btn.transparent:hover {
  background-color: #fff;
  color: #5995fd;
}

.left-panel {

  pointer-events: none;
  padding: 3rem 17% 2rem 12%;
}

.signin, .sign-in-form, .input-field > input {
  pointer-events: auto;
}

.input-field > input {
  position: relative;
  z-index: 1000;
}

.left-panel .btn.transparent,
#sign-up-btn {
  pointer-events: auto;
  position: relative;
  z-index: 1001;
}